@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    font-family: 'Nunito', 'Poppins', 'Inter', 'Space Grotesk';
}

.body
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Navbar Starts */

.hs
{
    width: 100vw;
    background: #A9DEF9;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar
{
    width: 100vw;
    height: 5vw;
    background: transparent;
    padding: 0.2vw 2vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
    position: sticky;
    top: 0;
}

.navbar:hover
{
    border: 2px solid black;
}

.logo
{
    font-size: 3vw;
    transition: all 0.2s ease-in-out;
}

.logo:hover::after
{
    content: " tagline ithe yeil";
    font-size: 1.5vw;
}

.menu
{
    font-size: 1.1vw;
    width: 40vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.scholarships, .login, .resources
{
    transition: all 0.2s ease-in-out;
}

.scholarships:hover, .resources:hover, .login:hover
{
    font-size: 1.2vw;
}

.moptions
{
    width: fit-content;
    height: 2vw;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-btn
{
    width: 9vw;
    height: 2.3vw;
    padding: 0.1vw;
    color: #fff;
    background-color: #000;
    font-size: 1.1vw;
    border-radius: 1vw;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-btn:hover
{
    font-size: 1.4vw;
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    border-radius: 0.6vw;
}

/* Navbar Ends */

/* Hero Starts */

.hero-main
{
    background-color: #A9DEF9;
    width: 100vw;
    height: 89.6vh;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    padding: 0vw;
    overflow-y: hidden;
}

.round {
    width: 100vw;
    height: 100vw;
    background-color: #ff99c8;
    overflow: visible;

    z-index: 1;
    position: absolute;
    border-radius: 50%;
    padding: 2vw 4vw;
    display: flex;
    align-items: top;
    flex-direction: column;
    justify-content: center;
}

.hero-one
{
    width: 90vw;
    height: 50vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.hero-text h1.heading
{
    width: 45vw;
    height: max-content;
    font-size: 6.5vw;
}

.hero-text h1.heading::after, .hero-text h1.heading::before
{
    content: "'";
}

.hero-text p
{
    font-size: 1.7vw;
    margin: 3vw 0 0 0;
    width: 45vw;
    height: fit-content;
    padding: 0.5vw;
    transition: all 0.2s ease-in-out;
}

.hero-text p:hover
{
    background-color: #A9DEF9;
    /* color: #ff99c8; */
    border-radius: 1vw;
}

.cta
{
    width: 30vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1vw;
}

.cta-btns
{
    width: 20vw;
    height: 3vw;
    background-color: #fff;
    border-radius: 2vw;
    margin: 1vw;
    transition: all 0.2s ease-in-out;
}

.cta-btns:hover
{
    font-size: 1.2vw;
    border-radius: 1vw;
    background-color: #000;
    color: #fff;
}

.hero-img
{
    width: 25vw;
    height: 40vw;
    background: url(/hero.jpg) no-repeat center;
    background-size: cover;
    border-radius: 1vw;
}

/* Div one ends */

/* Div 2 starts */

.hero-two
{
    width: 90vw;
    height: 50vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background-color: #FCF6BD;
}

/* Div 2 Ends */


::-webkit-scrollbar
{
    width: 0;
}